<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      GitHub Users Around the World
    </a>

    <div class="col-xs-12" id="navbar">
      <form class="form-inline my-2">
        <app-filter></app-filter>
      </form>
    </div>
  </nav>

  <app-map></app-map>
  <app-info></app-info>

  <div class="badge badge-light pull-right">
    <a href="https://github.com/tanpugi">
      Made by Tanpugi<img src="https://avatars1.githubusercontent.com/u/26405637"/>
    </a>
  </div>
</div>
