body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
